@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeue-01.ttf);
  }
  body {
    font-family: 'Helavicta Neue';
  }
}

@layer components {
  .x-padding {
    @apply px-3 md:px-8 lg:px-[70px];
  }
}
